body {
    background-color: #050b14;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    color: #008CBA;
    top: 8px;
    left: 16px;
    font-size: 30px;
}

.sign-button button {
    justify-content: flex-end;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.sign-button button:hover {
    background-color: #008CBA;
    color: white;
}

.hero-text {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    color: white;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.price-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}