header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bars {
    display: flex;
}

.bar {
    background-color: #0f1f2b;
    width: 1500px;
}

.top-bar {
    min-height: 100px;
}

.logo h1{
    color: #008CBA;
    font-size: 30px;
}

.sign-button button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.sign-button button:hover {
    background-color: #008CBA;
    color: white;
}

.hero-text {
    position: relative;
    text-align: center;
    color: white;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.price-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}